# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^(.versionbot/|CHANGELOG.md|VERSION)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
    -   id: actionlint-docker
        args: ["-color", "-ignore", ":info:", "-ignore", ":style:"]

-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
    -   id: markdownlint-docker

-   repo: https://github.com/crate-ci/typos
    rev: v1.39.2
    hooks:
    -   id: typos-docker
        args: ["--force-exclude"]
